---
// Arkan Interpretation Footer Component - Porto Demo Style
const currentYear = new Date().getFullYear();
---

<footer id="footer" class="footer-reveal mt-0">
    <div class="container my-4">
        <div class="row gy-5 gy-lg-0 pt-5 pb-2">
            <div class="col-lg-4">
                <h4 class="font-weight-bold text-color-light text-6 pb-1 mb-4">Contact Info</h4>
                <ul class="list list-unstyled">
                    <li class="pb-1 mb-3-5 text-color-grey text-5">
                        <span class="d-block font-weight-semibold line-height-1 text-color-light text-1 mb-1">ADDRESS</span>
                        Business Bay, Churchill Towers<br>
                        Dubai, United Arab Emirates
                    </li>
                    <li class="pb-1 mb-3-5 text-color-grey text-5">
                        <span class="d-block font-weight-semibold line-height-1 text-color-light text-1 mb-1">PHONE</span>
                        <a href="tel:+97142345678" class="text-color-grey text-color-hover-light">+971 4 234 5678</a>
                    </li>
                    <li class="pb-1 mb-3-5 text-color-grey text-5">
                        <span class="d-block font-weight-semibold line-height-1 text-color-light text-1 mb-1">EMAIL</span>
                        <a href="mailto:interpret@arkanlegal.com" class="text-color-grey text-color-hover-light">interpret@arkanlegal.com</a>
                    </li>
                    <li class="pb-1 mb-3-5 text-color-grey text-5">
                        <span class="d-block font-weight-semibold line-height-1 text-color-light text-1 mb-1">WORKING DAYS/HOURS</span>
                        Sun - Thu / 9:00AM - 6:00PM<br>
                        <span class="text-color-primary">24/7 Emergency Services</span>
                    </li>
                </ul>
                <ul class="social-icons social-icons-clean-with-border social-icons-big">
                    <li class="social-icons-linkedin">
                        <a href="https://www.linkedin.com/" class="no-footer-css" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li class="social-icons-x mx-2">
                        <a href="https://www.twitter.com/" class="no-footer-css" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a>
                    </li>
                    <li class="social-icons-facebook">
                        <a href="https://www.facebook.com/" class="no-footer-css" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="social-icons-whatsapp mx-2">
                        <a href="https://wa.me/97142345678" class="no-footer-css" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4 class="font-weight-bold text-color-light text-6 pb-1 mb-4">Our Services</h4>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-1"><a href="/services/legal-interpretation" class="text-color-grey text-color-hover-light text-4">Legal & Court Interpretation</a></li>
                    <li class="mb-1"><a href="/services/medical-interpretation" class="text-color-grey text-color-hover-light text-4">Medical Interpretation</a></li>
                    <li class="mb-1"><a href="/services/conference-interpretation" class="text-color-grey text-color-hover-light text-4">Conference & Events</a></li>
                    <li class="mb-1"><a href="/services/rsi" class="text-color-grey text-color-hover-light text-4">Remote Simultaneous (RSI)</a></li>
                    <li class="mb-1"><a href="/services/equipment-rental" class="text-color-grey text-color-hover-light text-4">Equipment Rental</a></li>
                    <li class="mb-1"><a href="/services/saudi-gateway" class="text-color-grey text-color-hover-light text-4">Saudi Gateway Service</a></li>
                </ul>
                <h4 class="font-weight-bold text-color-light text-6 pb-1 mb-4 mt-4">Company</h4>
                <ul class="list list-unstyled mb-0">
                    <li class="mb-1"><a href="/about" class="text-color-grey text-color-hover-light text-4">About Us</a></li>
                    <li class="mb-1"><a href="/why-arkan" class="text-color-grey text-color-hover-light text-4">Why Arkan</a></li>
                    <li class="mb-1"><a href="/contact" class="text-color-grey text-color-hover-light text-4">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-lg-5">
                <h4 class="font-weight-bold text-color-light text-6 pb-1 mb-4">Interpretation Modes</h4>
                <div class="row">
                    <div class="col-md-6">
                        <article class="pb-1 mb-4">
                            <h5 class="font-weight-semibold line-height-1 text-5 text-transform-none">
                                <a href="/modes/simultaneous" class="d-flex text-color-light text-decoration-none">
                                    <i class="fas fa-bolt me-2 text-color-primary"></i> Simultaneous
                                </a>
                            </h5>
                            <p class="text-color-grey line-height-5 text-3-5 mb-0">
                                Real-time interpretation for large conferences, summits, and live broadcasts.
                            </p>
                        </article>
                        <article class="pb-1 mb-4">
                            <h5 class="font-weight-semibold line-height-1 text-5 text-transform-none">
                                <a href="/modes/consecutive" class="d-flex text-color-light text-decoration-none">
                                    <i class="fas fa-clipboard-list me-2 text-color-primary"></i> Consecutive
                                </a>
                            </h5>
                            <p class="text-color-grey line-height-5 text-3-5 mb-0">
                                Maximum precision for court testimony, depositions, and medical consultations.
                            </p>
                        </article>
                    </div>
                    <div class="col-md-6">
                        <article class="pb-1 mb-4">
                            <h5 class="font-weight-semibold line-height-1 text-5 text-transform-none">
                                <a href="/modes/whispered" class="d-flex text-color-light text-decoration-none">
                                    <i class="fas fa-user-secret me-2 text-color-primary"></i> Whispered
                                </a>
                            </h5>
                            <p class="text-color-grey line-height-5 text-3-5 mb-0">
                                Discreet executive-level interpretation for VIP escorts and state dinners.
                            </p>
                        </article>
                        <div class="mt-4 p-4 border border-color-grey rounded">
                            <h5 class="font-weight-semibold text-color-light mb-2">
                                <i class="fas fa-certificate me-2 text-color-primary"></i> Certifications
                            </h5>
                            <span class="badge bg-transparent border border-light text-light me-2 mb-2">MOJ Certified</span>
                            <span class="badge bg-transparent border border-light text-light me-2 mb-2">ISO 18841</span>
                            <span class="badge bg-transparent border border-light text-light me-2 mb-2">ISO 20228</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="bg-color-grey opacity-1 mb-0">
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark">
        <div class="container py-2">
            <div class="row py-4">
                <div class="col d-flex align-items-center justify-content-center mb-4 mb-lg-0">
                    <p class="text-color-grey text-4 opacity-7">&copy; {currentYear} Arkan Interpretation. A Division of Arkan Legal Translation. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
