---
// Arkan Interpretation Header Component - Porto Demo Style
---

<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 50, 'stickyHeaderContainerHeight': 105}">
    <div class="header-body border-top-0 bg-dark box-shadow-none overflow-visible">
        <div class="header-top header-top-semi-transparent">
            <div class="container py-3-5">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto">
                        <div class="d-flex">
                            <a href="tel:+97142345678" class="d-inline-flex align-items-center text-color-light font-weight-semibold line-height-1 text-decoration-none">
                                <img width="25" height="25" src="/img/icons/phone.svg" alt="Phone Icon" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light me-2'}" />
                                +971 4 234 5678
                            </a>
                            <a href="mailto:interpret@arkanlegal.com" class="d-inline-flex align-items-center text-color-light text-decoration-none font-weight-semibold line-height-1 ms-4 ms-md-5-5">
                                <img width="25" height="25" src="/img/icons/email.svg" alt="Email Icon" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light me-2'}" />
                                interpret@arkanlegal.com
                            </a>
                        </div>
                    </div>
                    <div class="col-auto">
                        <ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean social-icons-medium social-icons-icon-light">
                            <li class="social-icons-linkedin"><a href="https://www.linkedin.com/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-icons-x"><a href="https://www.twitter.com/" target="_blank" title="X"><i class="fab fa-x-twitter"></i></a></li>
                            <li class="social-icons-whatsapp"><a href="https://wa.me/97142345678" target="_blank" title="WhatsApp"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-container container" style="height: 125px;">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="/">
                                <img alt="Arkan Interpretation" width="175" height="46" src="/img/logo-arkan.png" data-sticky-width="130" data-sticky-height="34" onerror="this.outerHTML='<span class=\'arkan-logo-text\'>ARKAN<span class=\'text-primary\'>.</span></span>'">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    <div class="header-row">
                        <div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-2 order-lg-1">
                            <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-font-lg header-nav-main-text-weight-500 header-nav-main-text-ls-0 header-nav-main-increase-space-between header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a class="dropdown-item active" href="/">
                                                Home
                                            </a>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#services">
                                                Services
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/services/legal-interpretation">Legal & Court Interpretation</a></li>
                                                <li><a class="dropdown-item" href="/services/medical-interpretation">Medical Interpretation</a></li>
                                                <li><a class="dropdown-item" href="/services/conference-interpretation">Conference & Events</a></li>
                                                <li><a class="dropdown-item" href="/services/rsi">Remote Simultaneous (RSI)</a></li>
                                                <li><a class="dropdown-item" href="/services/equipment-rental">Equipment Rental</a></li>
                                                <li><a class="dropdown-item" href="/services/saudi-gateway">Saudi Gateway Service</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a class="dropdown-item dropdown-toggle" href="#modes">
                                                Interpretation Modes
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/modes/simultaneous">Simultaneous</a></li>
                                                <li><a class="dropdown-item" href="/modes/consecutive">Consecutive</a></li>
                                                <li><a class="dropdown-item" href="/modes/whispered">Whispered (Chuchotage)</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/why-arkan">
                                                Why Arkan
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/about">
                                                About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="/contact">
                                                Contact
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                        <div class="header-nav-features order-1 order-lg-2">
                            <div class="header-nav-features-search-reveal-container">
                                <div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal d-inline-flex">
                                    <a href="#" class="header-nav-features-search-show-icon d-inline-flex text-decoration-none">
                                        <i class="icons icon-magnifier header-nav-top-icon text-color-light text-4-5 font-weight-bold position-relative top-4"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-features header-nav-features-no-border p-static">
        <div class="header-nav-feature header-nav-features-search header-nav-features-search-reveal header-nav-features-search-reveal-big-search header-nav-features-search-reveal-big-search-full">
            <div class="container">
                <div class="row h-100 d-flex">
                    <div class="col h-100 d-flex">
                        <form role="search" class="d-flex h-100 w-100" action="/search" method="get">
                            <div class="big-search-header input-group">
                                <input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Type and hit enter...">
                                <a href="#" class="header-nav-features-search-hide-icon"><i class="fas fa-times header-nav-top-icon"></i></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
